Flask==2.3.2
poppler-utils
gunicorn
werkzeug
requests
pdf2image 
pillow
openai>=1.0.0
python-dotenv
twilio==8.10.0
together
assemblyai
azure-cognitiveservices-speech
pydub
ffmpeg-python
